<!--TODO: add skeleton-->
@if (pokemon) {
  <mat-card [class]="'w-' + CARD_WIDTH_TAILWIND_CSS +' h-' + CARD_HEIGHT_TAILWIND_CSS">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ pokemon.name }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
<!--TODO: handle empty condition-->
<!--TODO: fixed height, attributes-->
      @if (pokemon.sprites.other.showdown?.front_default ?? pokemon.sprites.front_default) {
        <div class="flex justify-center">
          <img [src]="pokemon.sprites.other.showdown?.front_default ?? pokemon.sprites.front_default"
               [alt]="pokemon.name"/>
        </div>
      }
      @for (stat of pokemon.stats; track stat.stat.name) {
        <div>{{ stat.stat.name }}: {{ stat.base_stat }}</div>
      }
      @for (ability of pokemon.abilities; track ability.slot) {
        <div>{{ ability.ability.name }}</div>
      }
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-set>
        @for (type of pokemon.types; track type.slot) {
          <mat-chip>{{ type.type.name }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-actions>
  </mat-card>
}
<!--    @if (pokedex[pokemon.name].sprites.other.showdown) {-->
<!--      @for (sprite of pokedex[pokemon.name].sprites.other.showdown | keyvalue; track sprite.key) {-->
<!--        @if (sprite.value) {-->
<!--          <img [src]="sprite.value" [alt]="pokemon.name"/>-->
<!--        }-->
<!--      }-->
<!--    }-->
