<div class="p-4">
  <button mat-button [routerLink]="['/' + DEFAULT_PATH]">Pokémon List</button>
  @if (pokemon) {
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <div class="grid items-center justify-items-center md:col-span-1">
        <app-card [pokemon]="pokemon"></app-card>
      </div>
      <div class="grid gap-6 md:col-span-2">
        @if (evolutionChain?.chain) {
          <div class="flex gap-2 flex-wrap justify-center items-center">
            <ng-container [ngTemplateOutlet]="chainTemplate"
                          [ngTemplateOutletContext]="{$implicit: evolutionChain?.chain}">
            </ng-container>
          </div>
          <ng-template #chainTemplate let-chain>
            <button mat-button [routerLink]="['/' + DEFAULT_PATH + '/' + chain.species.name]">
            <span
              [class.text-lg]="chain.species.name === pokemon.name">{{ chain.species.name | replace | titlecase }}</span>
            </button>
            @if (chain.evolves_to.length) {
              <mat-icon fontIcon="arrow_forward"></mat-icon>
              <ng-container [ngTemplateOutlet]="chainTemplate"
                            [ngTemplateOutletContext]="{$implicit: chain.evolves_to[0]}">
              </ng-container>
            }
          </ng-template>
        }

        <div class="flex flex-col gap-2">
          <span class="text-xl">Abilities</span>
          @for (ability of pokemon.abilities; track $index) {
            <div class="flex gap-2">
              <span class="text-lg">{{ ability.ability.name | replace | titlecase }}</span>
              @if (ability.is_hidden) {
                <span class="rounded p-1 bg-gray-200">HA</span>
              }
            </div>
            @if (abilities[ability.ability.name]) {
              @for (effectEntries of abilities[ability.ability.name].effect_entries; track $index) {
                <!--TODO: handle language unavailable -->
                @if (effectEntries.language.name === LANGUAGE) {
                  <div class="flex flex-col gap-1">
                    <span class="text-base">{{ effectEntries.short_effect }}</span>
                    <span class="text-sm italic">{{ effectEntries.effect }}</span>
                  </div>
                }
              }
            }
          }
        </div>

        <div class="flex flex-col gap-2">
          <span class="text-xl">Type Efficiency</span>
          @for (type of pokemon.types; track $index) {
            <span class="text-lg">{{ type.type.name | replace | titlecase }}</span>
            @if (types[type.type.name]) {
              <div class="flex flex-col gap-1">
                @for (damageRelations of types[type.type.name].damage_relations | keyvalue; track $index) {
                  @if (damageRelations.value.length) {
                    <div class="flex gap-2 items-center">
                      <span>{{ damageRelations.key | replace: UNDERSCORE_REG_EXP | titlecase }}</span>
                      @for (damageRelation of damageRelations.value; track $index) {
                        <!--TODO: extract tag into separate component-->
                        <span [class]="'rounded p-1 text-white ' + TYPE_MAP[damageRelation.name]">
                          {{ damageRelation.name| replace | titlecase }}
                        </span>
                      }
                    </div>
                  }
                }
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</div>

<!--TODO: crawl sprite variants?-->

<!--  @if (pokemon.sprites.other.showdown) {-->
<!--    @for (sprite of pokemon.sprites.other.showdown | keyvalue; track $index) {-->
<!--      @if (sprite.value) {-->
<!--        <img [src]="sprite.value" [alt]="pokemon.name"/>-->
<!--      }-->
<!--    }-->
<!--  }-->
