<cdk-virtual-scroll-viewport class="h-screen"
                             [itemSize]="CARD_HEIGHT_PX"
                             (scrolledIndexChange)="scrollIndexChanged()">
  <div class="flex flex-wrap justify-center gap-4">
    <ng-container *cdkVirtualFor="let chunk of chunkedPokemons; trackBy: trackByIndex">
      @for (pokemon of chunk; track $index) {
        <div class="cursor-pointer" [routerLink]="['/' + DEFAULT_PATH + '/' + pokemon.name]">
          <app-card class="flex" [pokemon]="pokedex[pokemon.name]"></app-card>
        </div>
      }
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>
