<cdk-virtual-scroll-viewport class="h-screen"
                             [itemSize]="CARD_HEIGHT_PX"
                             [minBufferPx]="CARD_HEIGHT_PX * 3"
                             [maxBufferPx]="CARD_HEIGHT_PX * 5"
                             (scrolledIndexChange)="scrollIndexChanged()">
  <div [class]="'flex flex-wrap justify-center gap-' + CARD_GAP_TAILWIND_CSS">
    <ng-container *cdkVirtualFor="let chunk of chunkedPokemons; trackBy: trackByIndex">
      @for (pokemon of chunk; track trackByIndex) {
        <app-card [pokemon]="pokedex[pokemon.name]"></app-card>
      }
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>
